*{
    margin: 0;
    padding: 0;
    /* overflow: none; */
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
body::-webkit-scrollbar{
    display: none;
}
form{
    padding: 20px;
    border: 2px solid black;
    text-align: center;
}
#submit{
    padding: 4px 8px;
    cursor: pointer;
}
label{
    cursor: pointer;
}